
html {
    margin: 0; 
    }

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  }
/* CSS FOR NAVBAR */
  .navbar {
    padding: 5px 0px 5px 0px; 
    }
  .navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #585858; 
    }
  .navbar.navbar-inverse.navbar-static-top {
    background-color: #252528; 
    }
  .navbar.navbar-inverse.navbar-static-top .container {
        margin-top: 0;
        margin-bottom: 0; 
        }
  .navbar.navbar-inverse .nav > li > a {
      font-size: 13px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      opacity: .6;
      filter: alpha(opacity=60);
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      transition: all .2s linear;
      padding: 10px 15px 10px;
      text-decoration: none; 
      }
  .navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100); }
  .navbar.navbar-inverse .nav li.active a {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);
      background-color: transparent; 
      }
  .navbar .container {
      -webkit-transition: margin .2s ease-in-out;
      -moz-transition: margin .2s ease-in-out;
      transition: margin .2s ease-in-out; 
      }
    .navbar .container .navbar-header .navbar-brand {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      font-size: 20px;
      margin-left: -20px;
      padding: 10px 20px 10px; 
      }
    .navbar .container .collapse .nav .dropdown .caret {
      margin-bottom: 4px; 
      }
    .navbar .container .collapse .nav .dropdown .dropdown-menu {
      background: #252528;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin-top: 2px; 
      }
    .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a {
      color: #fff; 
      }
    .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover {
          background: #7070C6; }  
    
    a:hover {
      text-decoration: none; 
      }

.profilepic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #E6E7ED;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
    margin: auto;
  }

  .colorize {
    padding-top: 200px;
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
    text-shadow: 1px 1px black;
    background-image: url('../img/restaurant.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
  }
  .aboutme {
    padding-bottom: 20px;
    color: white;
  }
  .about p {
    text-align: justify;
  }
  .about h3 {
    text-align: center;
  }  
  .divider {
    position:absolute;
    left: 100%;
    top:10%;
    bottom:10%;
    border-left: 1px solid grey;
}

.recent {
  height: 400px;
  background-color: grey;
}
.recent h4 {
  margin-top: 320px;
}
.recenth {
  background-color: grey;
  color: white;
  text-shadow: 1px 1px black;
  border-top: 1px solid #585858;
}
.recentprev {
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 1px grey;
  border: 1px solid black;
  border-radius: 2px;
}

.btn-group {
  position: relative;
  margin-top: 125px;
}

.btn {
  width: 200px;
  height: 80px;
  font-size: 15pt;
  background-color: maroon;
  border-color: white;
  color: white;
  font-weight: bold;
}

/* SCREEN SIZE RESPONSIVENESS */
@media (max-width: 978px) {
  body {
    padding-top: 0 !important; }

  .navbar.navbar-inverse {
    background: #252528; 
    } 
   .divider {
     display: none;
   } 
   .about h3 {
     text-align: left;
   } 
   .backimg {
     background-size: 120%;
   }
 }
@media (min-width: 768px) and (max-width: 991px) {
   .navbar {
    margin-bottom: 0; }
    .navbar.transparent.navbar-fixed-top {
      margin-bottom: -70px;
      position: relative;
      top: 999; }
    .navbar.home.navbar-fixed-top {
      margin-bottom: -70px;
      position: relative;
      top: 999; 
      }
    }
@media (max-width: 767px) {
  .navbar.navbar-inverse .container .navbar-header .navbar-brand {
    margin-left: -5px; 
    }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    line-height: 25px;
    font-weight: bold;
    padding: 5px 15px 5px 35px; 
    }
  .aboutdesc {
    height: 250px;
  }
  .recent h4 {
    margin: 10px;
  }
}
